* {
    box-sizing: border-box;
}
html {
    font-size: 14.4px;
    //font-size: 16px;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: toRem(72);
}

.page__body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: url("@/assets/img/main-bg.png") top center / cover no-repeat, #191B22;
    background-attachment: fixed;
    display: flex;
    height: max-content;
    scrollbar-gutter: stable;
    font-family: var(--font-family);
    font-size: $font-size;
    font-weight: 400;
    color: var(--text-color);

    &--overflow {
        height: 100vh;
        overflow: hidden;
        scrollbar-gutter: stable;
    }

    &:has(.modal--opened) {
        overflow-y: hidden;
        scrollbar-gutter: stable;
    }
}

.page {
    background: #232326;
}

.container {
    max-width: toRem(1264);
    margin-left: auto;
    margin-right: auto;
    padding: 0 toRem(32);

    &--centered-x {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.page-content {
    flex-grow: 1;
    padding-top: toRem(60);
    padding-bottom: toRem(60);
    max-width: 100%;
}

main {
    padding-bottom: toRem(100);
}

.max-phablet {
    @media screen and (max-width: $phablet) {
        display: none;
    }
}

.min-phablet {
    @media screen and (min-width: $phablet) {
        display: none;
    }
}

.max-desktop {
    @media screen and (max-width: $desktop) {
        display: none;
    }
}

.min-desktop {
    @media screen and (min-width: $desktop) {
        display: none;
    }
}


@media screen and (min-width: 1800px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: $desktop) {
    .page-content {
        padding-top: calc(var(--header-height) + toRem(60));
    }

    html {
        font-size: 16px;
    }
}

@media screen and (max-width: $mobile) {
    .page-content {
        padding-top: calc(var(--header-height) + toRem(32));
    }
}

@media screen and (max-width: $mobile) {
    .container {
        padding: 0 toRem(20);
    }
}

@media screen and (max-width: $mobile-xs) {
    .container {
        padding: 0 toRem(16);
    }
}

@media screen and (max-width: $mobile-xs) {
    html {
        font-size: 12.8px;
    }
}
