.correlation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: rem(13);
  line-height: 132%; /* 17.16px */
  text-align: center;
  color: #e9eaec;
  gap: rem(4);

  &__item {
    display: flex;
    align-items: center;
    gap: rem(4);
  }
}

.correlation-scale {
  border: 1px solid #49c79a;
  border-radius: rem(4);
  width: rem(60);
  height: rem(8);
  background: linear-gradient(90deg, #49c79a 100%, rgb(73 199 154 / 0%) 0%);
  opacity: 0.6;
}
