.dropdown {
    position: relative;
    user-select: none;

    &__trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: toRem(8);
        border-radius: toRem(24);
        padding: toRem(10) toRem(16);
        background: var(--neutral-left-12);
        font-weight: 700;
        font-size: toRem(13);
        line-height: 132%;
        cursor: pointer;


        &--icon {
            padding: toRem(10);
            width: toRem(40);
            height: toRem(40);
        }
    }

    &__trigger-icon {
        width: toRem(20);
        height: auto;
    }

    &__trigger-arrow {
        width: toRem(12);
        height: auto;
    }

    &__body {
        position: absolute;
        top: calc(100% + 2px);
        border-radius: toRem(8);
        border: toRem(1) solid rgba(255, 255, 255, 0.12);
        background:  rgba(25, 27, 34, 0.84);
        max-width: toRem(220);
        min-width: 100%;
        width: max-content;
        /* Dropdown */
        box-shadow: - toRem(20) toRem(20) toRem(60) (- toRem(16)) rgba(24, 24, 41, 0.52);

        left: 0;
        display: none;

        &:before {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: '';
            backdrop-filter: blur(20px);
        }


        &--opened {
            display: block;
            z-index: 1;
        }

    }
}

.dropdown-list {
    max-height: 320px;

    &__item {
        border: toRem(1) solid transparent;
        border-top: toRem(1) solid rgba(255, 255, 255, 0.12) ;
        position: relative;
        padding: toRem(8);
        user-select: none;
        font-size: toRem(14);
        font-weight: 400;
        line-height: 150%; /* 21px */

        &:hover {
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: calc(100% + 2px);
                width: calc(100% + 2px);
                inset: -1px;
                padding: toRem(1);
                background: linear-gradient(to right, #3F45CE, #3F45CE 25%, #EF6F38 50%, #7841BD 75%, #7841BD);
                -webkit-mask: linear-gradient(to right, #3F45CE, #EF6F38, #7841BD) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                z-index: -1;
            }
        }

        &:first-child:hover:before {
            border-radius: toRem(8) toRem(8) 0 0;
        }

        &:last-child:hover:before {
            border-radius: 0 0 toRem(8) toRem(8);
        }
    }
}
