.form {
    border-radius: toRem(24);
    background: rgba(255, 255, 255, 0.12);
    box-shadow: -toRem(20) toRem(20) toRem(60) -toRem(16) rgba(24, 24, 41, 0.52);
    backdrop-filter: blur(20px);
    width: toRem(400);
    padding: toRem(52) toRem(32) toRem(32);
    display: flex;
    flex-direction: column;
    gap: toRem(32);
    font-size: toRem(14);
    font-weight: 600;
    line-height: 20px; /* 142.857% */

    &__group {
        display: flex;
        flex-direction: column;
        gap: toRem(16);
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:toRem(20);
    }

    &__title {
        color: var(--Neutral-1, #E9EAEC);
        font-size: toRem(32);
        font-style: normal;
        font-weight: 800;
        line-height: 132%; /* 42.24px */
    }

    &__link {
        color: #246BFD;
        text-align: right;
        font-size: toRem(14);
        font-weight: 600;
        line-height: 20px; /* 142.857% */
    }
}
