.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: toRem(32);
    padding: toRem(18) toRem(32);
    height: toRem(52);
    box-sizing: border-box;
    transition: .3s;
    gap: toRem(12);
    text-align: center;
    font-weight: 600;
    font-size: toRem(18);
    line-height: 156%;
    color: var(--neutral-1);



    &--small {
        height: toRem(40);
        gap: toRem(12);
        font-size: toRem(13);
        padding: toRem(10) toRem(16);
    }

    &--primary {
        background: var(--green-5);
        border: toRem(1) solid transparent;

        //&:hover {
        //    border: toRem(1) solid rgba(255, 255, 255, 0.20);
        //    box-shadow: 0px 8px 16px 0px rgba(65, 70, 207, 0.64);
        //}
    }

    &--secondary {
        background: #009DBD;
        border: toRem(1) solid transparent;

        //&:hover {
        //    border: toRem(1) solid rgba(255, 255, 255, 0.20);
        //    box-shadow: 0px 8px 16px 0px rgba(0, 157, 189, 0.64);
        //}
    }

    &--gray {
        background: var(--neutral-left-12, rgba(255, 255, 255, 0.12));
    }

    &--accent {
        border: toRem(1) solid transparent;
        background: var(--accent);

        //&:hover {
        //    border: toRem(1) solid rgba(255, 255, 255, 0.20);
        //    box-shadow: 0px 8px 16px 0px rgba(35, 156, 98, 0.64);
        //}
    }

    &--outlined {
        border: toRem(2) solid rgba(222, 224, 227, 0.92);

        &:hover {
            background: rgba(255, 255, 255, 0.20);
        }
    }

    &--outlined-gradient {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: toRem(24);
            padding: toRem(2);
            background: linear-gradient(to right, #3F45CE, #3F45CE 25%, #EF6F38 50%, #7841BD 75%, #7841BD);
            -webkit-mask: linear-gradient(to right, #3F45CE, #EF6F38, #7841BD) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
    }

    &--gray {
        background: rgba(255, 255, 255, 0.2);
        color: #fff;

        &:hover {
            background: rgba(255, 255, 255, 0.32);
        }
    }

    &--transparent {
        &:hover {
            color: #fff;
        }
    }

    &--again {
        display: flex;
        width: toRem(52);
        height: toRem(52);
        justify-content: center;
        align-items: center;
        padding: 0;
        border-radius: toRem(8);
        background: rgba(255, 255, 255, 0.20);
        color: rgba(255,255,255, 0.92);
        flex-shrink: 0;
    }

    &--icon {
        padding: toRem(4);
        width: toRem(40);
        height: toRem(40);
    }
}
