.dropdown {
    &__trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 24px;
        padding: 10px 16px;
        background: var(--neutral-left-12);
        font-weight: 700;
        font-size: 13px;
        line-height: 132%;


        &--icon {
            padding: 10px;
        }

        &--available {
            color: var(--neutral-right-68);
            background: var(--neutral-left-84);
        }
    }
}
