.course-meta {
    display: flex;
    justify-content: space-between;
}

.course-price {
    display: flex;
    align-items: stretch;

    &__value {
        box-sizing: border-box;
        border-radius: toRem(4) 0 0 toRem(4);
        background: linear-gradient(90.00deg, rgba(255, 71, 46, 0.16),rgba(255, 71, 46, 0.32) 100%);
        padding: toRem(10) toRem(20);
        color: rgb(255, 255, 255);
        font-size: toRem(45);
        font-weight: 700;
        line-height: toRem(52);
        text-align: center;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: block;
            content: '';
            height: toRem(4);
            background: #fff;
        }
    }

    &__discount {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 toRem(4) toRem(4) 0;
        background: rgb(255, 71, 46);
        color: rgb(246, 248, 250);
        font-size: toRem(10);
        font-weight: 700;
        line-height: 152%;
        text-transform: uppercase;
        padding: toRem(10) toRem(20);

        span {
            color: rgba(255, 255, 255, 0.92);
            font-size: toRem(24);
            font-weight: 600;
            line-height: 132%;
        }
    }
}

.course-info {
    display: flex;
    gap: toRem(8);

    &__item {
        padding: toRem(10) toRem(20);
        border-radius: toRem(4);
        background: rgba(255, 255, 255, 0.16);
        color: rgb(246, 248, 250);
        font-size: toRem(10);
        font-weight: 700;
        line-height: 152%;
        text-transform: uppercase;
        display: flex;
        min-height: toRem(80);
        align-items: center;
        justify-content: center;
        gap: toRem(16);

        &--col {
            flex-direction: column;
            gap: toRem(4);
        }

        span {
            color: rgba(255, 255, 255, 0.92);
            font-size: toRem(24);
            font-weight: 600;
            line-height: 132%;
        }
    }

    &__duration {
        svg {
            margin-right: toRem(8);
        }
    }
}

@media screen and (max-width: $phablet) {
    .course {
        margin-top: toRem(32);
    }

    .course-order {
        margin-top: toRem(32);
    }

    .course-meta {
        flex-direction: column;
        gap: toRem(16);
    }

    .course-info {
        &__item {
            width: calc((100% - 8px) / 2);
        }
    }

    .course-price {
        width: 100%;

        &__value {
            width: 67%;
            justify-content: center;
        }

        &__discount {
            width: 33%;
            text-align: center;
        }
    }
}
