.game-card {
    border-radius: 4px;
    background: var(--neutral-right-84, rgba(25, 27, 34, 0.84));
    backdrop-filter: blur(4px);
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2px;
    position: relative;

    &__column {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
        width: 594px;

        &--wide {
            flex-direction: column;
            width: 400px;
        }

        &--charts {
            width: 166px;
        }
    }

    &__favorite {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        opacity: 0.5;
        background: var(--neutral-left-12, rgba(255, 255, 255, 0.12));
    }

    &--unavailable {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 8px;
            background: var(--neutral-left-12, rgba(255, 255, 255, 0.12));
            backdrop-filter: blur(4px);
            z-index: 2;
        }
    }
}

.game-meta {
    border-radius: 2px;
    padding: 0 4px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    background: linear-gradient(249deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.08) 100%);

    &__part {
        display: flex;
        width: 157px;
        gap: 8px;
        align-items: center;

        &--revert {
            flex-direction: row-reverse;

            .last-games-status__list {
                justify-content: flex-end;
            }
        }
    }

    &__name {
        overflow: hidden;
        color: var(--Neutral-1, #E9EAEC);
        text-overflow: ellipsis;
        font-size: 13px;
        font-weight: 700;
        line-height: 132%;
    }
}

@media screen and (max-width: $desktop) {
    .game-card__column {
        order: 3;
        width: 100%;

        &--wide {
            order: 1;
            width: calc((100% - 2px) / 3 * 2);
        }
        &--charts {
            order: 2;
            width: calc((100% - 2px) / 3);
        }
    }
}

@media screen and (max-width: $tablet) {
    .game-card__column {
        width: 100%;
        order: 2;

        &--wide {
            width: 100%;
            order: 1;
        }
        &--charts {
            order: 3;
            width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }

    .game-info--chart {
        width: calc((100% - 2px) / 2);
    }
}

@media screen and (max-width: $mobile-xs) {
    .game-card__column {
        width: 100%;
        order: 2;

        &--wide {
            width: 100%;
            order: 1;
        }
        &--charts {
            order: 3;
            width: 100%;
            flex-direction: column;
        }
    }

    .game {
        &-meta {
            display: grid;
            height: auto;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr auto;

            &__current-score {
                grid-row: span 2;
            }
        }
        &-data {
            flex-direction: column;
        }

        &-chance {
            flex-direction: column;
        }
    }



    .game-meta__part--revert {
        flex-direction: row;
        .last-games-status__list {
            justify-content: flex-start;
        }

    }
}
