.game-card {
    border-radius: toRem(4);
    background:  rgba(25, 27, 34, 0.84);
    backdrop-filter: blur(4px);
    padding: toRem(2);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: toRem(2);
    position: relative;

    &__column {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(2);
        width: toRem(594);

        &--wide {
            flex-direction: column;
            width: toRem(400);
        }

        &--charts {
            width: toRem(166);
        }
    }

    &__favorite {
        position: absolute;
        top: toRem(4);
        right: toRem(4);
        width: toRem(24);
        height: toRem(24);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        opacity: 0.5;
        background: rgba(255, 255, 255, 0.12);
    }

    &--unavailable {
        position: relative;
        min-height: toRem(108);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: toRem(8);
            background: rgba(255, 255, 255, 0.12);
            backdrop-filter: blur(4px);
            z-index: 2;
        }
    }
}



.game-meta {
    border-radius: toRem(2);
    padding: 0 4px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(4);
    background: linear-gradient(249deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.08) 100%);

    &__part {
        display: flex;
        width: toRem(157);
        gap: toRem(8);
        align-items: center;

        &--revert {
            flex-direction: row-reverse;

            .last-games-status__list {
                justify-content: flex-end;
            }
        }
    }

    &__logo {
        max-width: toRem(28);
        max-height: toRem(28);

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__name {
        overflow: hidden;
        color: #E9EAEC;
        text-overflow: ellipsis;
        font-size: toRem(13);
        font-weight: 700;
        line-height: 132%;
    }
}

.game-chart {
    height: 100%;
    width: toRem(100);
    display: flex;
    gap: toRem(8);

    &__item {
        max-width: toRem(20);
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__value {
        width: 100%;
        margin-top: auto;
        border-radius: toRem(2);
        opacity: 0.6;

        &--team-1 {
            background: linear-gradient(180deg, #49C79A 0%, rgba(73, 199, 154, 0.00) 100%);
            height: 20%;
        }

        &--team-2 {
            background: linear-gradient(180deg, #654CC8 0%, rgba(101, 76, 200, 0.00) 100%);
            height: 80%;
        }
    }
}

.game-chance {
    display: flex;
    gap: toRem(2);
}

.game-goals {
    display: flex;
    flex-direction: column;
    gap: toRem(4);

    &__item {
        max-width: toRem(86);
        display: flex;
        align-items: center;
        gap: toRem(8);
    }

    &__team {
        width: toRem(2);
        height: toRem(16);
        flex-shrink: 0;

        &--team-1 {
            background: #49C79A;
        }

        &--team-2 {
            background: #6F63FF;
        }

    }

    &__author {
        color: rgba(255, 255, 255, 0.68);
        font-size: toRem(12);
        font-weight: 500;
        line-height: 128%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.game-data {
    display: flex;
    gap: toRem(2);
}

.game-schema {
    border-radius: toRem(2);
    background: linear-gradient(249deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.08) 100%);
}



.last-games-status {
    &__list {
        display: flex;
        gap: toRem(6);
        height: toRem(15);
        align-items: center;
    }

    &__item {
        width: toRem(4);
        height: toRem(4);
        border-radius: 50%;

        &--win {
            background: var(--green-5);
        }
        &--lose {
            background: var(--cd3d00);
        }
        &--draw{
            background: var(--gray-3);
        }
    }
}

.game-card--sliced {
    .game-info--chart {
        height: toRem(44);
        align-items: center;

        .info-score__item {
            height: toRem(17);
        }
    }
}

.unavailable-card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    padding: toRem(10) toRem(16);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(16);

    &__content {
        display: flex;
        flex-direction: column;
        gap: toRem(16);
    }

    &__title {
        color: #E9EAEC;
        font-size: toRem(13);
        font-style: normal;
        font-weight: 700;
        line-height: 132%;
        width: toRem(192);
    }

    &__btn {
        height: toRem(32);
        border-radius: toRem(20);
        background: #099853;
        color: #E9EAEC;
        font-size: toRem(13);
        font-style: normal;
        font-weight: 700;
        line-height: 132%; /* 17.16px */
        padding: toRem(7) toRem(12);
        width: max-content;
    }
}

.progress {
    width: toRem(53);
    height: toRem(4);
    background: rgba(255, 255, 255, 0.12);
    border-radius: toRem(2);

    &__value {
        height: 100%;
        border-radius: toRem(2);

        &--team-1 {
            width: 33%;
            background: #49C79A;
        }

        &--team-2 {
            width: 66%;
            background: #6F63FF;
        }
    }
}


@media screen and (max-width: $desktop) {
    .game-card__column {
        order: 3;
        width: 100%;

        &--wide {
            order: 1;
            width: calc((100% - 2px) / 3 * 2);
        }
        &--charts {
            order: 2;
            width: calc((100% - 2px) / 3);
        }
    }
}

@media screen and (max-width: $tablet) {
    .game-card__column {
        width: 100%;
        order: 2;

        &--wide {
            width: 100%;
            order: 1;
        }
        &--charts {
            order: 3;
            width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }

    .game-info--chart {
        width: calc((100% - 2px) / 2);
    }
}

@media screen and (max-width: $mobile-xs) {
    .game-card__column {
        width: 100%;
        order: 2;

        &--wide {
            width: 100%;
            order: 1;
        }
        &--charts {
            order: 3;
            width: 100%;
            flex-direction: column;
        }
    }

    .game {
        &-meta {
            display: grid;
            height: auto;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr auto;

            &__current-score {
                grid-row: span 2;
            }
        }
        &-data {
            flex-direction: column;
        }

        &-chance {
            flex-direction: column;
        }
    }



    .game-meta__part--revert {
        flex-direction: row;
        .last-games-status__list {
            justify-content: flex-start;
        }

    }
}
