.game-info {
    height: toRem(44);
    border-radius: toRem(2);
    background: linear-gradient(249deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.08) 100%);
    padding: 0 toRem(8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(8);
    width: calc((100% - toRem(4)) / 3);
    position: relative;

    &__icon {
        width: toRem(8);
        height: toRem(8);
        position: absolute;
        top: toRem(2);
        left: toRem(2);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: toRem(4);
    }

    &--chance {
        width: calc((100% - 2px) / 2);
    }

    &--goals {
        width: (236 / 386 * 100%);
        gap: toRem(4);
    }

    &--schema {
        width: (148 / 386 * 100%);
    }

    &__chance {
        display: flex;
        flex-direction: column;
        gap: toRem(4);
        flex-grow: 1;
        align-items: flex-end;

        .progress {
            width: 100%;
        }
    }

    &--chart {
        width: 100%;
        padding: toRem(8) toRem(8) 0 toRem(8);
        height: toRem(67);
        display: flex;
        align-items: flex-start;
    }

    &__title {
        overflow: hidden;
        color: rgba(255, 255, 255, 0.68);
        text-overflow: ellipsis;
        font-size: toRem(12);
        font-weight: 500;
        line-height: 128%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__add {
        color: #099853;
        text-align: center;
        font-size: toRem(13);
        font-weight: 700;
        line-height: 132%; /* 17.16px */
        width: toRem(24);
        height: toRem(24);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: toRem(2);
        background: rgba(31, 168, 78, 0.16);
    }

    &__lock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: toRem(12);
        gap: toRem(12);
        border-radius: toRem(4);
        background: rgba(255, 255, 255, 0.12);
        backdrop-filter: blur(4px);
        color:  rgba(255, 255, 255, 0.68);
        font-size: toRem(12);
        font-weight: 500;
        line-height: 128%; /* 15.36px */

        span {
            flex-grow: 1;
        }
    }
}

@media screen and (max-width: $laptop-small) {
    .game-info {
        &--chance {
            width: 100%;
        }
    }
}

@media screen and (max-width: $phablet) {
    .game-info {
        &--chance {
            width: calc((100% - toRem(2)) / 2);
        }

        &--chart {
            width: calc((100% - toRem(2)) / 2);
        }
    }
}

//@media screen and (max-width: $mobile-xs) {
//    .game-info {
//        width: calc((100% - 2px) / 2);
//
//        &--goals {
//            width: 100%;
//        }
//
//        &--schema {
//            width: 100%;
//        }
//
//        &--chance {
//            width: 100%;
//        }
//
//        &--chart {
//            width: 100%;
//        }
//    }
//}


//@media screen and (max-width: $desktop) and (min-width: $phablet) {
//    .game-timeline {
//        grid-column: 1/2;
//        height: auto;
//    }
//    .game-meta {
//        grid-column: 1/2;
//    }
//    .game-data {
//        grid-column: 1/2;
//    }
//    .game-chance {
//        grid-column: 2/3;
//        grid-row: 1/4;
//        flex-direction: column;
//
//    }
//
//    .game-info--chance {
//        width: 100%;
//    }
//}
