.header-points {
  display: flex;
  align-items: center;
  border: rem(1) solid rgb(255 255 255 / 12%);
  border-radius: rem(24);
  padding: rem(4);
  height: rem(40);
  gap: rem(8);

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: rem(32);
    height: rem(32);
    color: #099853;
    background: rgb(31 168 78 / 16%);
  }
}
