.header {
    height: 72px;
    background: #fff;
    width: 100%;
    padding: 14px 0;
    backdrop-filter: blur(8px);
    background: rgba(19, 25, 31, 0.8);
    position: fixed;
    top: 0;
    z-index: 4;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }

    &__profile-link {
        border-radius: 24px;
        width: 40px;
        height: 40px;
        background: #099853;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__bolt {
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 2px;
        width: 119px;
        height: 40px;
        font-weight: 700;
        font-size: 13px;
        line-height: 132%;
        text-align: center;
        color: var(--gray-1);

        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 24px;
            padding: 2px;
            background:linear-gradient(to right, #3F45CE, #3F45CE 25%, #EF6F38 50%, #7841BD 75%, #7841BD);
            -webkit-mask: linear-gradient(to right, #3F45CE, #EF6F38, #7841BD) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

    }

    &__left {
        display: flex;
        align-items: center;
        gap: 8px;
        padding-right: 3px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        &-inner {
            display: flex;
        }
    }

    &__center {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__separator {
        width: 1px;
        height: 28px;
        background: var(--neutral-left-12);
    }

    &__settings {
        display: none;
    }
}

.logo {
    &-text {
        font-family: var(--font4);
        font-weight: 700;
        font-size: 23px;
        line-height: 102%;
        color: var(--text-color);
    }
}

.header-games {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 4px;
    color: var(--neutral-left-68, rgba(255, 255, 255, 0.68));
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.lang-switcher {
    font-weight: 600;
    font-size: 11px;
    line-height: 140%;
    text-align: center;
    color: var(--neutral-left-68);

    &__trigger {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}

@media screen and (max-width: $desktop) {
    .header {
        &__separator {
            display: none;
        }

        &__center {
            display: none;
        }

        &__settings {
            display: flex;
        }
    }
}

@media screen and (max-width: $phablet) {
    .header {
        &__logo {
            margin-left: -25px;
        }

        &__left-wrapper {
            display: none;
        }

        &__bolt {
            width: 40px;
            height: 40px;

            span {
                display: none;
            }
        }

        &__macros {
            width: 40px;
            height: 40px;
            padding: 4px;
        }
    }
}
