.header {
    height: toRem(72);
    background: #fff;
    width: 100%;
    padding: toRem(14) 0;
    backdrop-filter: blur(toRem(8));
    background: rgba(19, 25, 31, 0.8);
    position: fixed;
    top: 0;
    z-index: 4;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(8);
    }

    &__profile-link {
        border-radius: toRem(24);
        width: toRem(40);
        height: toRem(40);
        background: #099853;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__bolt {
        border-radius: toRem(24);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: toRem(8);
        padding: toRem(2);
        width: toRem(119);
        height: toRem(40);
        font-weight: 700;
        font-size: toRem(13);
        line-height: 132%;
        text-align: center;
        color: var(--gray-1);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: toRem(24);
            padding: toRem(2);
            background:linear-gradient(to right, #3F45CE, #3F45CE 25%, #EF6F38 50%, #7841BD 75%, #7841BD);
            -webkit-mask: linear-gradient(to right, #3F45CE, #EF6F38, #7841BD) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

    }

    &__left {
        display: flex;
        align-items: center;
        gap: toRem(8);
        padding-right: toRem(3);

        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: toRem(4);
        }

        &-inner {
            display: flex;
        }
    }

    &__center {
        display: flex;
        align-items: center;
        gap: toRem(8);
    }

    &__right {
        display: flex;
        align-items: center;
        gap: toRem(8);
    }

    &__separator {
        width: toRem(1);
        height: toRem(28);
        background: var(--neutral-left-12);
    }

    &__settings {
        display: none;
    }
}

.logo {
    &-text {
        font-family: var(--font4);
        font-weight: 700;
        font-size: toRem(23);
        line-height: 102%;
        color: var(--text-color);
    }
}

.header-games {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: toRem(4);
    color: var(--neutral-left-68, rgba(255, 255, 255, 0.68));
    font-size: toRem(11);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.lang-switcher {
    font-weight: 600;
    font-size: toRem(11);
    line-height: 140%;
    text-align: center;
    color: var(--neutral-left-68);

    &__trigger {
        display: flex;
        align-items: center;
        gap: toRem(4);
    }
}

@media screen and (max-width: $desktop) {
    .header {
        &__separator {
            display: none;
        }

        &__center {
            display: none;
        }

        &__settings {
            display: flex;
        }
    }
}

@media screen and (max-width: $phablet) {
    .header {
        &__logo {
            margin-left: - toRem(25);
        }

        &__left-wrapper {
            display: none;
        }

        &__bolt {
            width: toRem(40);
            height: toRem(40);

            span {
                display: none;
            }
        }

        &__macros {
            width: toRem(40);
            height: toRem(40);
            padding: toRem(4px);
        }
    }
}
