.hero {
    padding-top: 20px;

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }



    &__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 132%;
        text-transform: uppercase;
        color: var(--neutral-1);
    }

    &__slogan {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: var(--neutral-1);
        max-width: 500px;
    }

    &__buttons {
        display: flex;
        gap: 16px;
        margin-top: 32px;
    }
}


.hero-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 416px;
    align-self: flex-start;

    &__item {
        border-radius: 8px;
        padding: 16px 8px;
        width: 100px;
        height: 100px;
        backdrop-filter: blur(8px);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.16) 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &--wide {
            width: 200px;
            flex-direction: row;
        }
    }

    &__icon {

    }

    &__title {
        font-weight: 700;
        font-size: 13px;
        line-height: 132%;
        text-align: center;
        color: var(--neutral-1);
    }

    &__value {
        font-weight: 900;
        font-size: 32px;
        line-height: 132%;
        text-transform: uppercase;
        text-align: right;
        color: var(--neutral-1);
        white-space: nowrap;

        span {
            font-weight: 800;
            font-size: 16px;
            line-height: 128%;
        }
    }
}


@media screen and (max-width: $laptop) {
    .hero {
        &__buttons {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

@media screen and (max-width: $tablet) {
    .hero {
        &__container {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: $mobile) {
    .hero-tiles {
        flex-wrap: nowrap;
        gap: 4px;
        min-width: 100%;

        &__item {
            width: calc((100% - 12px) / 4);
            &--wide {
                display: none;
            }
        }
    }
}
