.macros {
    display: flex;
    flex-direction: column;
    gap: toRem(24);
    width: 800px;
    min-height: toRem(572);
    border-radius: toRem(24);
    background: #24262D;
    box-shadow: - toRem(20) toRem(20) toRem(60) (- toRem(16)) rgba(24, 24, 41, 0.52);
    backdrop-filter: blur(20px);
    padding: toRem(24);

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(20);
    }

    &__head-part {
        display: flex;
        align-items: center;
        gap: toRem(16);
    }

    &__actions {
        display: flex;
        gap: toRem(20);
    }

    &__title {
        color: #FFF;

        /* OverGoal/H3 */
        font-family: Mulish;
        font-size: toRem(24);
        font-style: normal;
        font-weight: 700;
        line-height: 132%; /* 31.68px */
    }
}

.macros-data {
    display: flex;
    justify-content: space-between;
    padding: toRem(12) toRem(16) 0 toRem(16);
    border-radius: toRem(8);
    gap: toRem(16);
    border-bottom: none;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: toRem(8);
        padding: toRem(2);
        background: linear-gradient(to top, rgba(255,255,255, 0), rgba(255,255,255, .12));
        -webkit-mask: linear-gradient(to top, #fff, #fff) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
    }


    &__name {
        border-radius: toRem(8);
        background:  rgba(25, 27, 34, 0.32);
        height: toRem(40);
        padding: toRem(10)toRem( 8) toRem(10) toRem(16);
        overflow: hidden;
        color: #E9EAEC;
        font-size: toRem(14);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border: none;
        outline: none;
        flex-grow: 1;
    }

    &__separator {
        width: toRem(1);
        height: toRem(40);
        background: rgba(255, 255, 255, 0.12);
    }

    &__params {
        display: flex;
        align-items: center;
        gap: toRem(12);
    }
    &__task {
        width: toRem(252);
    }

    &__count {
        border-radius: toRem(24);
        background: rgba(255, 255, 255, 0.12);
        display: flex;
        width: toRem(80);
        height: toRem(40);
        padding: toRem(10) toRem(16);
        justify-content: center;
        align-items: center;
        overflow: hidden;
        color: #fff;
        text-overflow: ellipsis;
        font-size: toRem(13);
        font-style: normal;
        font-weight: 700;
        line-height: 132%; /* 17.16px */
        border: none;
        outline: none;
    }
}


.macros-create {
    &__btn {
        border-radius: toRem(24);
        background: rgba(31, 168, 78, 0.16);
        color: #099853;
        text-align: center;
        font-size: toRem(13);
        font-style: normal;
        font-weight: 700;
        line-height: 132%; /* 17.16px */
    }
}

.macros-list {
    &__item {
        display: flex;
        align-items: center;
        gap: toRem(40);
        padding: toRem(10) 0;
        border-bottom: toRem(1) solid rgba(255, 255, 255, 0.12);

        &:first-child {
            border-top: toRem(1) solid rgba(255, 255, 255, 0.12);
        }
    }

    &__title {
        color: rgba(255, 255, 255, 0.84);
        font-size: toRem(16);
        font-weight: 700;
        line-height: 128%; /* 20.48px */
        flex-grow: 1;
        cursor: pointer;
    }

    &__condition {
        overflow: hidden;
        color: #E9EAEC;
        text-overflow: ellipsis;
        font-size: toRem(13);
        font-weight: 700;
        line-height: 132%; /* 17.16px */
    }

    &__progress {
        display: flex;
        align-items: center;
        gap: toRem(8);
    }

    &__percent {
        overflow: hidden;
        color: #E9EAEC;
        text-align: center;
        text-overflow: ellipsis;
        font-size: toRem(15);
        font-weight: 700;
        line-height: 128%; /* 19.2px */
    }

    &__cost {
        color: rgba(255, 255, 255, 0.68);
        font-size: toRem(12);
        font-style: normal;
        font-weight: 500;
        line-height: 128%; /* 15.36px */
        width: toRem(55);

        svg {
            margin-bottom: - toRem(3.36);
        }
    }
}

.macros-params {
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: toRem(4);
    }

    &__item {
        width: calc((100% - 8px) / 3);
        border-radius: toRem(4);
        background: #2B2D34;
        display: flex;
        flex-direction: column;
        gap: toRem(12);
        padding: toRem(12);
    }

    &__title {
        overflow: hidden;
        color: #E9EAEC;
        text-overflow: ellipsis;
        font-size: toRem(16);
        font-weight: 700;
        line-height: 128%; /* 20.48px */
    }

    &__cells-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: toRem(4);
    }
}

.macros-cell {
    padding: toRem(6) toRem(8);
    height: toRem(52);
    border-radius: toRem(4);
    background: #24262D;
    width: calc((100% - 8px) / 3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    border: toRem(1) solid transparent;

    &__value {
        overflow: hidden;
        color:  rgba(255, 255, 255, 0.32);
        text-overflow: ellipsis;
        font-size: toRem(13);
        font-style: normal;
        font-weight: 700;
        line-height: 132%; /* 17.16px */
    }

    &__efficiency {
        overflow: hidden;
        color:  rgba(255, 255, 255, 0.32);
        text-overflow: ellipsis;
        font-size: toRem(13);
        font-weight: 700;
        line-height: 132%; /* 17.16px */
    }

    &__proportion {
        overflow: hidden;
        color:  rgba(255, 255, 255, 0.32);
        text-overflow: ellipsis;
        font-size: toRem(13);
        font-weight: 700;
        line-height: 132%; /* 17.16px */
        width: 100%;

    }

    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 0;
        border-radius: toRem(2);
        opacity: 0.04;
        background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
        width: 25%;
    }

    &--selected {
        border: toRem(1) solid rgba(31, 168, 78, 0.32);
    }
}
