.page-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &__title {
        color: var(--gray-1, #E9EAEC);
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 132%; /* 42.24px */
        text-transform: uppercase;
    }

    &__separator {
        flex-grow: 1;
        opacity: 0.12;
        height: 1px;
        background: var(--Neutral-Left-L1, linear-gradient(to left, #FFF 0%, rgba(255, 255, 255, 0.00) 100%));
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
