.page-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(20);

    &__title {
        color: #E9EAEC;
        font-size: toRem(32);
        font-style: normal;
        font-weight: 900;
        line-height: 132%; /* 42.24px */
        text-transform: uppercase;
    }

    &__separator {
        flex-grow: 1;
        opacity: 0.12;
        height: toRem(1);
        background: linear-gradient(to left, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    }

    &__left {
        display: flex;
        align-items: center;
        gap: toRem(20);
    }

    &__right {
        display: flex;
        align-items: center;
        gap: toRem(20);
    }
}
