.info-score {
    display: flex;
    align-items: center;
    gap: toRem(2);
    color: var(--neutral-left-68, rgba(255, 255, 255, 0.68));
    font-size: toRem(12);
    font-weight: 500;
    line-height: 128%;

    &--large {
        justify-content: center;
        gap: toRem(4);
    }

    &__item {
        padding: toRem(4);
        height: toRem(24);
        color: var(--Neutral-1, #E9EAEC);
        text-align: center;
        font-size: toRem(13);
        font-weight: 700;
        line-height: 132%;
        border-radius: toRem(2);
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--neutral-left-12, rgba(255, 255, 255, 0.12));

        &--large {
            border-radius: toRem(4);
            font-size: toRem(15);
            line-height: 128%;
            height: toRem(28);
            width: toRem(25);
        }
    }
}
