
.game-timeline {
    display: flex;
    gap: toRem(2);
    width: 100%;

    &__item {
        height: toRem(4);
        border-radius: toRem(2);
        background: rgba(255, 255, 255, 0.12);
        width: calc((100% - 2px) / 2);
        position: relative;
        display: flex;
        align-items: center;
        transition: .2s;
    }

    &__value {
        height: 100%;

        &--current {
            opacity: 0.4;
            background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
        }
    }

    &__current-time {
        position: absolute;
        height: toRem(6);
        width: toRem(2);
        background: #E9EAEC;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
    }

    &__goal {
        position: absolute;
        width: toRem(6);
        height: toRem(6);
        transition: .3s;

        &--team-1 {
            background: #49C79A;
        }

        &--team-2 {
            background: #6F63FF;
        }
    }

    &:hover {
        .game-timeline__value {
            opacity: 1;
            background: rgba(255, 255, 255, 0.84);
        }
        .game-timeline__goal {
            width: toRem(12);
            height: toRem(12);
            transform: rotate(45deg);
            border-radius: toRem(2);
            border: toRem(1) solid #E9EAEC;
        }
    }
}

.game-timeline-event {
    display: none;
    position: absolute;
    left: 0;
    bottom: 100%;
    transition: 0s;
    border-radius: toRem(8);
    border: toRem(1) solid rgba(255, 255, 255, 0.32);
    background: rgba(77, 80, 87, 0.32);
    box-shadow: -20px 20px 60px -16px rgba(24, 24, 41, 0.52);
    padding: toRem(8);
    transform: rotate(-45deg);

    overflow: hidden;
    column-gap: toRem(8);
    row-gap: toRem(4);
    grid-template-columns: toRem(16) 1fr;
    grid-template-rows: auto auto;
    transform-origin: left bottom;

    &:before {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        backdrop-filter: blur(20px);
        z-index: -1;
    }

    &__icon {
        width: toRem(16);
        height: toRem(16);
        position: relative;

        &:before {
            position: absolute;
            content: '';
            display: block;
            width: toRem(64);
            height: toRem(64);
            z-index: -1;
            opacity: 0.16;
            filter: blur(8px);
            left: - toRem(32);
            top: - toRem(32);
        }

        &--team-1 {
            color: #49C79A;

            &:before {
                background: #49C79A;
            }
        }
        &--team-2 {
            color: #6F63FF;

            &:before {
                background: #6F63FF;
            }
        }
    }

    &__time {
        color: #E9EAEC;
        font-size: toRem(12);
        font-weight: 500;
        line-height: 128%; /* 15.36px */
    }

    &__author{
        grid-column: 2/3;
        display: flex;
        align-items: center;
        gap: toRem(4);
    }

    &__author-pic {
        width: toRem(16);
        height: toRem(16);
        border-radius: 50%;
    }

    &__author-name {
        color: rgba(255, 255, 255, 0.68);
        font-size: toRem(12);
        font-weight: 500;
        line-height: 128%; /* 15.36px */
        white-space: nowrap;
    }
}

.game-timeline__goal:hover {
    .game-timeline-event {
        display: grid;
    }
}
