
.game-timeline {
    display: flex;
    gap: toRem(2);

    &__item {
        height: toRem(4);
        border-radius: toRem(2);
        background: var(--neutral-left-12, rgba(255, 255, 255, 0.12));
        width: calc((100% - 2px) / 2);
        position: relative;
        display: flex;
        align-items: center;
        transition: .2s;
    }

    &__value {
        height: 100%;

        &--current {
            opacity: 0.4;
            background: var(--Neutral-Left-R1, linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%));
        }
    }

    &__current-time {
        position: absolute;
        height: toRem(6);
        width: toRem(2);
        background: var(--Neutral-1, #E9EAEC);
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
    }

    &__goal {
        position: absolute;
        width: toRem(6);
        height: toRem(6);
        transition: .3s;

        &--team-1 {
            background: var(--2, #49C79A);
        }

        &--team-2 {
            background: var(--Secondary-5, #6F63FF);
        }
    }

    &:hover {
        .game-timeline__value {
            opacity: 1;
            background: var(--neutral-left-84, rgba(255, 255, 255, 0.84));
        }
        .game-timeline__goal {
            width: toRem(12);
            height: toRem(12);
            transform: rotate(-135deg);
            border-radius: toRem(2);
            border: toRem(1) solid var(--Neutral-1, #E9EAEC);
        }
    }
}
